[client]
user = {DB_USER}
host = {DB_HOST}

[mysql]
database = {DB_NAME}
# Set less program to be the mysql pager
pager = less -niSFX
# Enable auto complete in mysql terminal
auto-rehash
# Write line numbers for errors
line-number
