[client]

# Defines the user of the connection
user = {DB_USER}

# Defines the host of the connection
host = {DB_HOST}

# Asks for password
password




[mysql]

# Specifies the database name
database = {DB_NAME}

# Set less program to be the mysql pager
pager = less -niSFX

# Enable auto complete in mysql terminal
auto-rehash

# Write line numbers for errors
line-number

# Sets the default character set
default-character-set = utf8
